openapi: 3.0.0

servers:
  - url:  https://vzx7es13n7.execute-api.sa-east-1.amazonaws.com/staging/
    description: Sandbox server
  - url: https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/
    description: Production server

info:

  version: Beta
  title: Xepelin API Docs
  contact:
    name: Contacto
    email: hola@xepelin.com
    url: 'https://www.xepelin.com/'
  x-logo:
    url: 'https://i.ibb.co/3Nqv1FM/xepelin-logo.png'
    altText: Xep logo

  description: |
    Encuentra mas informacion sobre Xepelin en [http://www.xepelin.com](http://www.xepelin.com) 
    y sobre sus respectivas aplicaciones
    - [App Corporativos](http://corps.xepelin.com) 
    - [App PYMES](http://app.xepelin.com) 

    # Introducción

      Xepelin cuenta con una API para clientes que permite a las empresas 
      acceder a la información de las facturas, operaciones de factoring y confirming de 
      forma segura y ágil. El objetivo de Xepelin con esta API es facilitar y ayudar a 
      sus clientes en los procesos internos de una forma imperceptible, limpia y tecnológica.

      A través de nuestra API, los desarrolladores pueden acceder 
      a **Endpoint Facturas Externas**, que te brinda la posibilidad de ingresar y guardar 
      datos generales relacionados con la emisión de documentos fiscales como facturas o 
      notas de crédito, estados, fechas y valores.También se puede modificar determinada 
      información siempre que quieras según las necesidades que tengas para actualizar o 
      modificar determinados datos.
      
    # Ambiente

      Xepelin ofrece actualmente dos entornos que se muestran en la siguiente tabla. 
      
      | Ambiente     | Propósito   | URL       |
      |-------------|:------------|-------------|
      | **Sandbox**   | El entorno de sandbox está dedicado a las fases de prueba y desarrollo. En este entorno, puede enviar datos de prueba a todos los endpoints. | https://vzx7es13n7.execute-api.sa-east-1.amazonaws.com/staging/|
      | **Produccion** | El entorno de producción está dedicado a interacciones en vivo con conexiones reales. | https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/ |

    # Autentificación

      Actualmente la autentificación se realiza a traves de una `api-key` que es proporcionada 
      de manera interna. Para generar sus claves de cada entorno, por favor, póngase en contacto 
      con nosotros y envíe las especificaciones correspondientes a suyai@xepelin.com.
    
    # Códigos de Respuesta

      | Código | Mensaje   |
      |----------|----------------|
      |`200`   | ✅**Invoice ID Created** - La solicitud enviada tuvo éxito. |
      |`400`    | ❌ **Bad Request** - Request está vacío o le falta un input obligatorio, o tipo de input es incorrecto. |
      |`404`    | ❌ **Not Found** - En el método PUT sucede cuando el ID informado no existe. |
      |`500`  | ❌ **Internal Server Error** - Error inesperado o no catalogado. |

tags:
  - name: invoice
    x-displayName: Facturas
    description: Envío y modificación de facturas
    # insertar imagen de facturas

x-tagGroups:
  - name: Endpoints
    tags:
      - invoice

paths:
  /invoices:   
    # post 
    post:   
      tags:
        - invoice
      summary: Enviar nuevo documento
      description: |
        En este método puedes enviar información de origen perteneciente a tus facturas para crear e informar acerca 
        de un nuevo documento. 
      operationId: addInvoice
      requestBody:
        $ref: '#/components/requestBodies/Invoice'
      responses:
        '200':
          description: Invoice ID Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreatedResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

      x-code-samples:

        - lang: C
          label: cURL
          source: "curl -i -X POST   \n
                  -H 'Content-Type: application/json'   \n
                  -H 'Accept: application/json'   \n
                  -H 'x-api-key: YOUR_API_KEY'   \n
                  -d '{'businessRut': '33445566-K', \n
                       'payerRut': '774433-6', \n
                       'folio': 12345, \n
                       'documentType': '33', \n
                       'currency': 'CLP', \n
                       'totalAmount': 161600, \n
                       'issuedDate': '2021-01-21', \n
                       'limitDate': '2021-03-03', \n
                       'paymentConfirmedDate': '2021-03-03', \n
                       'xmlDte': 'AQUI VA EL XML', \n
                       'businessName': 'Rogelio', \n
                       'payerName': 'Mwza', \n
                       'source': 'XEP'}'\n
                  https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/invoices"

        - lang: javascript
          source: "var url = 'https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/invoices';\n\n
          var xhr = new XMLHttpRequest();\n
          xhr.open('POST', url);\n\n            
          xhr.setRequestHeader('Content-Type', 'application/json');\n
          xhr.setRequestHeader('Accept', 'application/json');\n
          xhr.setRequestHeader('x-api-key', 'YOUR_API_KEY');\n\n
          xhr.onreadystatechange = function () {\n
            if (xhr.readyState === 4) {\n
                console.log(xhr.status);\n
                console.log(xhr.responseText);\n
            }};\n\n
          var data = '{'businessRut': '33445566-K', 'payerRut': '774433-6', 'folio': 12345, 'documentType': '33', 'currency': 'CLP', 'totalAmount': 161600, 'issuedDate': '2021-01-21', 'limitDate': '2021-03-03', 'paymentConfirmedDate': '2021-03-03', 'xmlDte': 'AQUI VA EL XML', 'businessName': 'Rogelio', 'payerName': 'Mwza', 'source': 'XEP'}';\n\n
          xhr.send(data);"

        - lang: python
          source: "import requests \n
                  from requests.structures import CaseInsensitiveDict\n
                  
                  url = 'https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/invoices'\n
                  
                  headers = CaseInsensitiveDict()\n
                  headers['Content-Type'] = 'application/json'\n
                  headers['Accept'] = 'application/json'\n
                  headers['x-api-key'] = '2mc60iuNkt4Gio1GlCwSL42r6uA198mm7lkDuifg'\n
                  
                  data = '{'businessRut': '33445566-K', 'payerRut': '774433-6', 'folio': 12345, 'documentType': '33', 'currency': 'CLP', 'totalAmount': 161600, 'issuedDate': '2021-01-21', 'limitDate': '2021-03-03', 'paymentConfirmedDate': '2021-03-03', 'xmlDte': 'AQUI VA EL XML', 'businessName': 'Rogelio', 'payerName': 'Mwza', 'source': 'XEP'}'\n
                  
                  resp = requests.post(url, headers=headers, data=data)\n
                  
                  print(resp.status_code)"


        - lang: PHP
          source: "<?php \n

                  $url = 'https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/staging/invoices';\n
                  
                  $curl = curl_init($url);\n
                  curl_setopt($curl, CURLOPT_URL, $url);\n
                  curl_setopt($curl, CURLOPT_POST, true);\n
                  curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n
                  
                  $headers = array( \n
                    'Content-Type: application/json',\n
                    'Accept: application/json',\n
                    'x-api-key: YOUR_API_KEY',\n
                  );\n

                  curl_setopt($curl, CURLOPT_HTTPHEADER, $headers);\n
                  
                  $data = '{'businessRut': '33445566-K', 'payerRut': '774433-6', 'folio': 12345, 'documentType': '33', 'currency': 'CLP', 'totalAmount': 161600, 'issuedDate': '2021-01-21', 'limitDate': '2021-03-03', 'paymentConfirmedDate': '2021-03-03', 'xmlDte': 'AQUI VA EL XML', 'businessName': 'Rogelio', 'payerName': 'Mwza', 'source': 'XEP'}'; \n
                  
                  curl_setopt($curl, CURLOPT_POSTFIELDS, $data);\n
                  
                  //for debug only!\n
                  curl_setopt($curl, CURLOPT_SSL_VERIFYHOST, false);\n
                  curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false);\n
                  
                  $resp = curl_exec($curl);\n
                  curl_close($curl);\n
                  var_dump($resp);\n

                  ?>"

    # put

  /invoices/{ID}:
    parameters:
    - name: ID
      in: path
      description: ID of invoice that needs to be modified
      required: true
      schema:
        type: integer

    put:
      tags:
        - invoice
      summary: Modificar un documento existente
      description: ''
      operationId: updateInvoice


      requestBody:
        $ref: '#/components/requestBodies/ModifyInvoice'

      responses:
        '200':
          description: Invoice ID Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreatedResponse'
        '400':
          description: Bad Request
        '404':
          description: Invalid ID supplied
        '500':
          description: Internal Server Error
      
      x-code-samples:
        - lang: C
          label: cURL
          source: "curl -i -X POST -H 'Content-Type: application/json' \n
                  -H 'Accept: application/json' \n
                  -H 'x-api-key: YOUR_API_KEY' \n
                  -d '{'businessRut': '33445566-K', 'payerRut': '774433-6', 'folio': 12345, 'documentType': '33', 'currency': 'CLP', 'totalAmount': 161600, 'issuedDate': '2021-01-21', 'limitDate': '2021-03-03', 'paymentConfirmedDate': '2021-03-03', 'xmlDte': 'AQUI VA EL XML', 'businessName': 'Rogelio', 'payerName': 'Mwza', 'source': 'XEP'}'\n
                  https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/invoices"
        - lang: JavaScript
          source: console.log('Hello World');

        - lang: PHP
          source: |
            $form = new \PetStore\Entities\Pet();
            $form->setPetType("Dog");
            $form->setName("Rex");
            // set other fields
            try {
                $pet = $client->pets()->create($form);
            } catch (UnprocessableEntityException $e) {
                var_dump($e->getErrors());
            }
        - lang: Python
          source: |
            $form = new \PetStore\Entities\Pet();
            $form->setPetType("Dog");
            $form->setName("Rex");
            // set other fields
            try {
                $pet = $client->pets()->create($form);
            } catch (UnprocessableEntityException $e) {
                var_dump($e->getErrors());
            }

components:

  requestBodies:

    Invoice:
      content:
        application/json:
          schema:
            allOf:
              - description: My Invoice
                title: Invoicy
              - $ref: '#/components/schemas/Invoice'
      required: true
    
    ModifyInvoice:
      content:
        application/json:
          schema:
            allOf:
              - description: My Invoice
                title: Invoicy
              - $ref: '#/components/schemas/ModifyInvoice'
      required: true


  schemas:

    Id:
      type: integer
      format: int64
      readOnly: true

    Invoice:
      type: object
      required:
        - businessRut
        - businessName
        - payerRut
        - payerName
        - folio
        - totalAmount
        - issuedDate
        - source
      properties:
        id:             # id of invoice
          description: Invoice ID
          allOf:
            - $ref: '#/components/schemas/Id'
        corpId:
          description: Identificador interno cliente
          type: float
          example: 4000054248
        businessRut:
          description: Rut del emisor de la factura
          type: string
          example: 7111111-3
        businessName:
          description: Razon Social del emisor de la factura
          type: string
          example: Sociedad de ejemplo Spa
        businessPhone:
          description: Contacto telefónico del emisor del documento
          type: float
          example: 59994393801
        businessEmail:
          description: Correo electrónico del emisor del documento
          type: string
          example: example@xepelin.com
        payerRut:
          description: Rut del cliente receptor de la factura
          type: string
          example: 8222222-5
        payerName:
          description: Razon social del cliente receptor de la factura
          type: string
          example: X Capital SRL
        folio:
          description: Número de consecutivo asignado a la factura
          type: float
          example: 439794
        documentType: 
          description: Tipo de código de documento fiscal
          type: float
          example: 33
        buyOrderId:
          description: Identificador interno Orden de Compra cliente
          type: float
          example: 156789         
        buyOrder:
          description: Número de Orden de Compra cliente
          type: float
          example: OC-156789
        currency:
          description: Tipo de moneda en la que se encuentra expresado el valor del documento
          type: string
          example: CLP
        totalAmount:
          description: Monto total de documento correspondiente al folio informado
          type: float
          example: 89525
        nc:
          description: Número de consecutivo asignado a la Nota Crédito asociada al folio de la factura
          type: float
          example: NC-4578
        discount:
          description: Valor total de la Nota Crédito emitida ó descuento aplicado asociada al folio de la factura
          type: float
          example: 0
        issuedDate:
          description: Fecha de emisión de la factura
          type: Date
          example: 2021-01-11
        paymentDate:
          description: Fecha tentativa de pago de la factura
          type: Date
          example: 2021-02-17
        limitDate:
          description: Ultima fecha para financiar la factura
          type: Date
          example: 2021-02-17
        paymentConfirmedDate:
          description: Fecha efectiva en la que se generó el pago de la factura
          type: Date
          example: 2021-02-19
        corpDescription:
          description: Estado de aprobación de la factura en ERP cliente
          type: string
          example: a pago    
        siiStatus:
          description: Estados de la factura en el Sii, Acuse Recibo, Cedida, Reclamado y Contado/Gratuito
          type: string
          example: Acuse Recibo        
        xmlDte:
          description: XML correspondiente a la emisión de la factura
          type: string
          example: 564789320  
        sourceAccount:
          description: Cuenta desde donde se originó el pago 
          type: string
          example: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iSVNPLTg4NTktMSI/Pgo8R...     
        source:
          description: Identificador de la fuente hardcodeado
          type: string
          example: Xepelin  

    ModifyInvoice:
      type: object
      required:
        - key
      properties:
        id:             # id of invoice
          description: Invoice ID
          allOf:
            - $ref: '#/components/schemas/Id'
        key:
          description: Identificador Xepelin
          type: float
          example: 65143
        corpId:
          description: Identificador interno cliente
          type: float
          example: 4000054248
        businessPhone:
          description: Contacto telefónico del emisor del documento
          type: float
          example: 59994393801
        businessEmail:
          description: Correo electrónico del emisor del documento
          type: string
          example: example@xepelin.com
        buyOrderId:
          description: Identificador interno Orden de Compra cliente
          type: float
          example: 156789         
        buyOrder:
          description: Número de Orden de Compra cliente
          type: float
          example: OC-156789
        nc:
          description: Número de consecutivo asignado a la Nota Crédito asociada al folio de la factura
          type: float
          example: NC-4578
        discount:
          description: Valor total de la Nota Crédito emitida ó descuento aplicado asociada al folio de la factura
          type: float
          example: 0
        paymentDate:
          description: Fecha tentativa de pago de la factura
          type: Date
          example: 2021-02-17
        limitDate:
          description: Ultima fecha para financiar la factura
          type: Date
          example: 2021-02-17
        paymentConfirmedDate:
          description: Fecha efectiva en la que se generó el pago de la factura
          type: Date
          example: 2021-02-19
        corpDescription:
          description: Estado de aprobación de la factura en ERP cliente
          type: string
          example: a pago    
        siiStatus:
          description: Estados de la factura en el Sii, Acuse Recibo, Cedida, Reclamado y Contado/Gratuito
          type: string
          example: Acuse Recibo        
        sourceAccount:
          description: Cuenta desde donde se originó el pago 
          type: string
          example: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iSVNPLTg4NTktMSI/Pgo8R...     

    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string

    InvoiceCreatedResponse:
      type: object
      properties:
        businessRut:
          description: Rut del emisor de la factura
          type: string
          example: 7111111-3
        businessName:
          description: Razon Social del emisor de la factura
          type: string
          example: Sociedad de ejemplo Spa
        folio:
          description: Número de consecutivo asignado a la factura
          type: float
          example: 123456
        documentType:
          description: Tipo de código de documento fiscal
          type: float
          example: 33
        payerRut:
          description: Rut del cliente receptor de la factura
          type: float
          example: 8222222-5
        corpId:
          description: Identificador interno cliente
          type: float
          example: 4000054248
        Id:
          description: Identificador Xepelin
          type: float
          example: 153
        message:
          description: Descripción del código enviado
          type: string
          example: Invoice ID created

  securitySchemes:

    api_key:
      description: >
        For this sample, you can use the api key `special-key` to test the
        authorization filters.
      type: apiKey
      name: api_key
      in: header 