openapi: 3.0.0

servers:
  - url: https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/
    description: Default server
  - url:  https://vzx7es13n7.execute-api.sa-east-1.amazonaws.com/staging/
    description: Sandbox server

info:
  description: |
    Encuentra mas informacion sobre la aplicación para corporativos en 
    [http://corps.xepelin.com](http://corps.xepelin.com) y sobre Xepelin 
    en [http://www.xepelin.com](http://www.xepelin.com).
  version: 1.0.0
  title: Xepelin API Corps
  contact:
    name: Contacto
    email: suyai@xepelin.com
    url: 'https://www.xepelin.com/'
  x-logo:
    url: 'https://i.ibb.co/3Nqv1FM/xepelin-logo.png'
    altText: Xep logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

tags:
  - name: intro
    x-displayName: Introducción
    description: |
      Xepelin cuenta con una API para clientes corporativos que permite a las empresas 
      acceder a la información de las facturas, operaciones de factoring y confirming de 
      forma segura y ágil. A través de nuestra API, los desarrolladores pueden acceder 
      a **Endpoint Facturas Externas**, que te brinda la posibilidad de ingresar y guardar 
      datos generales relacionados con la emisión de documentos fiscales como facturas o 
      notas de crédito, estados, fechas y valores.
      
      También puedes modificar determinada información siempre que quieras según las 
      necesidades que tengas para actualizar o modificar determinados datos.
      
      El objetivo de Xepelin con esta API es facilitar y ayudar a sus clientes en los 
      procesos internos de una forma imperceptible, limpia y tecnológica.

  - name: environment
    x-displayName: Ambiente
    description: |
      Xepelin ofrece actualmente dos entornos. Para generar sus claves para cada entorno, por favor, póngase en contacto con nosotros a suyai@xepelin.com y envíe las especificaciones correspondientes.
      
      | Ambiente     | Proposito                                      | URL                                            |
      |--------------|------------------------------------------------|------------------------------------------------|
      | `Sandbox`    | El entorno de sandbox está dedicado a las fases de prueba y desarrollo. En este entorno, puede enviar datos de prueba a todos los endpoints. | POST https://vzx7es13n7.execute-api.sa-east-1.amazonaws.com/staging/invoices PUT https://vzx7es13n7.execute-api.sa-east-1.amazonaws.com/staging/invoices/ID |
      | `Produccion` | El entorno de producción está dedicado a interacciones en vivo con conexiones reales. | POST https://1owlwqjmrh.execute-api.sa-east-1.amazonaws.com/prod/invoices |

  - name: authentification
    x-displayName: Autentificación
    description: |
     La autentificación actualmente se realiza a través de una `api-key` insertada en el header.

  # - name: response_codes
  #   x-displayName: Codigos de Respuesta
  #   description: |
  #    Codigos de respuesta.

  #     | Codigo   | Mensaje                | Descripcion |
  #     |----------|------------------------|--------------------|
  #     | `400`    | Bad Request            | Input que no corresponde al tipo requerido, no vienen todos los inputs obligatorios o viene el request vacío. |
  #     | `404`    | Not Found              | En el método PUT  sucede cuando el ID informado no existe. |
  #     | `500`    | Internal Server Error  | Sucede cuando tenemos un error inesperado o no catalogado. |
  #     | `200`    | Invoice ID Created     | Sucede cuando la solicitud enviada tuvo éxito. |

  # - name: error_handling
  #   x-displayName: Manejo de Errores
  #   description: |
  #    Manejo de errores.

  - name: pet
    x-displayName: Facturas
    description: Envío y modificación de facturas.

x-tagGroups:
  - name: Información General
    tags:
      - intro
      - environment
      - authentification
      # - response_codes
      # - error_handling
  - name: Core Endpoints
    tags:
      - pet

paths:
  /pet:   # pet
    # parameters:
      # - name: cookieParam
      #   in: cookie
      #   description: Some cookie
      #   required: true
      #   schema:
      #     type: integer
      #     format: int64

    post:   # start post
      tags:
        - pet
      summary: Enviar nuevo documento
      description: |
        En este método puedes enviar información de origen perteneciente a tus facturas para crear e informar acerca 
        de un nuevo documento. 
        
        Tendrás que considerar un mensaje por cada factura que quieras informar y que las etiquetas 
        obligatorias en este método son `businessRut`, `businessName`, `payerRut`, `payerName`, `folio`, `totalAmount` y `source`. 
        
        El siguiente es un `.json` del mensaje del envío de un nuevo documento desde el cliente hacia Xepelin con todos 
        los parámetros existentes actualmente.

      operationId: addPet 
     
      requestBody:
        $ref: '#/components/requestBodies/Pet'

      responses:
        '200':
          description: Invoice ID Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreatedResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error

      security:   # authentification
        - petstore_auth:   
            - 'write:pets'
            - 'read:pets'
      
      x-code-samples:
        - lang: 'C#'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: PHP
          source: |
            $form = new \PetStore\Entities\Pet();
            $form->setPetType("Dog");
            $form->setName("Rex");
            // set other fields
            try {
                $pet = $client->pets()->create($form);
            } catch (UnprocessableEntityException $e) {
                var_dump($e->getErrors());
            }
    
        # end post
    
    # start put
    put:
      tags:
        - pet
      summary: Modificar un documento existente
      description: ''
      operationId: updatePet
      responses:
        '200':
          description: Invoice ID Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreatedResponse'
        '400':
          description: Bad Request
        '404':
          description: Invalid ID supplied
        '500':
          description: Internal Server Error
      security:
        - petstore_auth:
            - 'write:pets'
            - 'read:pets'
      x-code-samples:
        - lang: PHP
          source: |
            $form = new \PetStore\Entities\Pet();
            $form->setPetId(1);
            $form->setPetType("Dog");
            $form->setName("Rex");
            // set other fields
            try {
                $pet = $client->pets()->update($form);
            } catch (UnprocessableEntityException $e) {
                var_dump($e->getErrors());
            }
      requestBody:
        $ref: '#/components/requestBodies/Pet'
  '/pet/{petId}':
    get:
      tags:
        - pet
      summary: Find pet by ID
      description: Returns a single pet
      operationId: getPetById
      parameters:
        - name: petId
          in: path
          description: ID of pet to return
          required: true
          deprecated: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
        '400':
          description: Invalid ID supplied
        '404':
          description: Pet not found
      security:
        - api_key: []
    post:
      tags:
        - pet
      summary: Updates a pet in the store with form data
      description: ''
      operationId: updatePetWithForm
      parameters:
        - name: petId
          in: path
          description: ID of pet that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '405':
          description: Invalid input
      security:
        - petstore_auth:
            - 'write:pets'
            - 'read:pets'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: Updated name of the pet
                  type: string
                status:
                  description: Updated status of the pet
                  type: string
    delete:
      tags:
        - pet
      summary: Deletes a pet
      description: ''
      operationId: deletePet
      parameters:
        - name: api_key
          in: header
          required: false
          schema:
            type: string
          example: "Bearer <TOKEN>"
        - name: petId
          in: path
          description: Pet id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid pet value
      security:
        - petstore_auth:
            - 'write:pets'
            - 'read:pets'
  '/pet/{petId}/uploadImage':
    post:
      tags:
        - pet
      summary: uploads an image
      description: ''
      operationId: uploadFile
      parameters:
        - name: petId
          in: path
          description: ID of pet to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - 'write:pets'
            - 'read:pets'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary

# start components
components:

  schemas:

    # start schemas

    InvoiceCreatedResponse:
      type: object
      properties:
        businessRut:
          description: Rut del emisor de la factura
          type: string
          example: 7111111-3
        businessName:
          description: Razon Social del emisor de la factura
          type: string
          example: Sociedad de ejemplo Spa
        folio:
          description: Número de consecutivo asignado a la factura
          type: float
          example: 123456
        documentType:
          description: Tipo de código de documento fiscal
          type: float
          example: 33
        payerRut:
          description: Rut del cliente receptor de la factura
          type: float
          example: 8222222-5
        corpId:
          description: Identificador interno cliente
          type: float
          example: 4000054248
        Id:
          description: Identificador Xepelin
          type: float
          example: 153
        message:
          description: Descripción del código enviado
          type: string
          example: Invoice ID created


    # ApiResponse
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    Cat:
      description: A representation of a cat
      allOf:
        - $ref: '#/components/schemas/Pet'
        - type: object
          properties:
            huntingSkill:
              type: string
              description: The measured skill for hunting
              default: lazy
              enum:
                - clueless
                - lazy
                - adventurous
                - aggressive
          required:
            - huntingSkill

    # Id
    Id:
      type: integer
      format: int64
      readOnly: true
    
    # Pet
    Pet:
      type: object
      required:
        - businessRut
        - businessName
        - payerRut
        - payerName
        - folio
        - totalAmount
        - issuedDate
        - source
      # discriminator:
      #   propertyName: petType
      #   mapping:
      #     cat: '#/components/schemas/Cat'
      #     dog: '#/components/schemas/Dog'
      #     bee: '#/components/schemas/HoneyBee'
      properties:
        id:
          externalDocs:
            description: "Find more info here"
            url: "https://example.com"
          description: Pet ID
          allOf:
            - $ref: '#/components/schemas/Id'
        
        corpId:
          description: Identificador interno cliente
          type: float
          example: 4000054248
        businessRut:
          description: Rut del emisor de la factura
          type: string
          example: 7111111-3
        businessName:
          description: Razon Social del emisor de la factura
          type: string
          example: Sociedad de ejemplo Spa
        businessPhone:
          description: Contacto telefónico del emisor del documento
          type: float
          example: 59994393801
        businessEmail:
          description: Correo electrónico del emisor del documento
          type: string
          example: example@xepelin.com
        payerRut:
          description: Rut del cliente receptor de la factura
          type: string
          example: 8222222-5
        payerName:
          description: Razon social del cliente receptor de la factura
          type: string
          example: X Capital SRL
        folio:
          description: Número de consecutivo asignado a la factura
          type: float
          example: 439794
        documentType: 
          description: Tipo de código de documento fiscal
          type: float
          example: 33
        buyOrderId:
          description: Identificador interno Orden de Compra cliente
          type: float
          example: 156789         
        buyOrder:
          description: Número de Orden de Compra cliente
          type: float
          example: OC-156789
        currency:
          description: Tipo de moneda en la que se encuentra expresado el valor del documento
          type: string
          example: CLP
        totalAmount:
          description: Monto total de documento correspondiente al folio informado
          type: float
          example: 89525
        nc:
          description: Número de consecutivo asignado a la Nota Crédito asociada al folio de la factura
          type: float
          example: NC-4578
        discount:
          description: Valor total de la Nota Crédito emitida ó descuento aplicado asociada al folio de la factura
          type: float
          example: 0
        issuedDate:
          description: Fecha de emisión de la factura
          type: Date
          example: 2021-01-11
        paymentDate:
          description: Fecha tentativa de pago de la factura
          type: Date
          example: 2021-02-17
        limitDate:
          description: Ultima fecha para financiar la factura
          type: Date
          example: 2021-02-17
        paymentConfirmedDate:
          description: Fecha efectiva en la que se generó el pago de la factura
          type: Date
          example: 2021-02-19
        corpDescription:
          description: Estado de aprobación de la factura en ERP cliente
          type: string
          example: a pago    
        siiStatus:
          description: Estados de la factura en el Sii, Acuse Recibo, Cedida, Reclamado y Contado/Gratuito
          type: string
          example: Acuse Recibo        
        xmlDte:
          description: XML correspondiente a la emisión de la factura
          type: string
          example: 564789320  
        sourceAccount:
          description: Cuenta desde donde se originó el pago 
          type: string
          example: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iSVNPLTg4NTktMSI/Pgo8R...     
        source:
          description: Identificador de la fuente hardcodeado
          type: string
          example: Xepelin

  # start requestBodies

  requestBodies:
    Pet:
      content:
        application/json:
          schema:
            allOf:
              - description: My Pet
                title: Pettie
              - $ref: '#/components/schemas/Pet'
        application/xml:
          schema:
            type: 'object'
            properties:
              name:
                type: string
                description: hooray
      description: Pet object that needs to be added to the store
      required: true
    
  # end requestBodies

  securitySchemes:
    # start securitySchemes
    # petstore_auth:
    #   description: |
    #     Get access to data while protecting your account credentials.
    #     OAuth2 is also a safer and more secure way to give you access.
    #   type: oauth2
    #   flows:
    #     implicit:
    #       authorizationUrl: 'http://petstore.swagger.io/api/oauth/dialog'
    #       scopes:
    #         'write:pets': modify pets in your account
    #         'read:pets': read your pets
    api_key:
      description: >
        For this sample, you can use the api key `special-key` to test the
        authorization filters.
      type: apiKey
      name: api_key
      tag: 
        - authentification 
    # end securitySchemes